.forecastList {
    background-color: #cccccc;
    width: 30vw;
    border-radius: 5px;
    margin: 1%;
    height: 80px;
    width: 25vw;
    transition: height 250ms ease;
    overflow: -moz-scrollbars-none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
     display: none; /* Chrome and Safari */
 }
}
.forecastListExpanded{
    height: 150px;
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

.forecastListNotExpanded {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.forecastList:hover {
  cursor: pointer;
  background-color: #959595;  
}

.time {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.temperature {
    font-size: 25px;
    font-weight: bold;
}